.diamond {
    width: 90px;
    height: 90px;
    background: #1eff00;
    margin: 0;
    padding: 0;

}
#targetScore {
 background-color:##90EE90;
  }
#yourScore {
 background-color:##90EE90;
  }
#red {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
#blue {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
#yellow {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
#green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

h1 {
    background-color: #FF7F50;
}

body {
 background-color:#ADD8E6;
 }

 h3 {
  background-color:##90EE90;
  }
